{
    "semi": true,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 80,
    "plugins": ["prettier-plugin-jinja-template"],
    "overrides": [
        {
            "files": ["*.html", "*.jinja", "*.jinja2"],
            "options": {
                "parser": "jinja-template",
                "tabWidth": 2
            }
        }
    ]
}
