{% extends "layout.html" %}

{% block title %}
    Portofolio
{% endblock %}

{% block main %}
    <h2>Portofolio</h2>
    <table>
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Current price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        <!-- TODO: Loop through the database entries to display them in this table -->
            {% for stocks in portofolio %}
                <tr>
                    <td>{{ stocks.symbol }}</td>
                    <td>{{ stocks.name }}</td>
                    <td>{{ stocks.sum_shares }}</td>
                    <td>{{ stocks.current_price | usd }}</td>
                    <td>{{ stocks.current_sum | usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4" style="text-align: right">Cash balance</td>
                <td>{{ cash_balance | usd }}</td>
            </tr>
            <tr>
                <td colspan="4" style="text-align: right">Grand total</td>
                <td>{{ grand_total | usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
