{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock symbol e.g. NFLX" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Lookup</button>
    </form>
    <br>
    <div>Stock name: <b>{{ stock.name }}</b></div>
    <div>Stock price: <b>{{ stock.price | usd }}</b></div>
    <div>Stock symbol: <b>{{ stock.symbol }}</b></div>
{% endblock %}
